@media screen and (min-width: 500px){
    * {
        background-color: black;
    }
}
* {
    font-family: 'Caveat', cursive;
    background-color: black;
    color: white;
}
body p {
    color: bisque;
}
h2 + p {
    text-align: left;
}
section ~ details {
    background-color: burlywood;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'A1 A1 . A2 A2 A3'
    'A4 A4 A4 A4 A5 A5';
    gap: 10px;
    padding: 10px;
    justify-items: stretch;
    background-color: dimgray;
}
.grid-container > div {
    background-color: lightgray;
    text-align: left;
    padding: 10px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 10px;
    gap: 10px;
    font-size: 30px;
    background-color: dimgray;
}
div.flex-container{
    text-align: right;
    position: sticky;
    top: 0;
}
.item-a {
    grid-area: A1;
}
.item-b {
    grid-area: A2;
}
.item-c {
    grid-area: A3;
}
.item-d {
    grid-area: A4;
}
.item-e {
    grid-area: A5;
}
#hehe {
    text-align: right;
    position: sticky;
}
form {
    position: static;
    background-color: hsl(195, 66%, 45%);
    color: rgb(200,200,200);
    text-align: center;
    width: 500px;
}
i, em {
    color: rgb(236, 41, 41);
    text-decoration: underline;
    display: inline-block;
}
h2[title]{
    color: #423fe4be;
    display: block;
    min-width: 2em;
}
video{
    height:500px;
    max-width: 500px;
}
div {
    height: 50%;
    width: auto;
}
li {
    border-width: 1px;
    border-style: dashed;
    border-color: groove;
    border-radius: 20% 30%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 10em;
    padding-right: 10em;
    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: 1cm;
    margin-right: 1cm;
}
ul {
    border-width: 1px;
    border-color: gray;
    border-style: groove;
    border-radius: 5px;
    padding: 1em 5vw 1em 5vw;
    margin: 5mm 1cm 5mm 1cm;
}
button:hover {
    color: lightcoral;
    text-align: center;
}
button:active {
    color: aqua;
}
